[Unit]
Description=Execute backup job
Requires=MOUNT_POINT_PLACEHOLDER
After=MOUNT_POINT_PLACEHOLDER

[Service]
ExecStart=/usr/local/bin/backup-sd.sh

[Install]
WantedBy=MOUNT_POINT_PLACEHOLDER

